@import url('https://fonts.googleapis.com/css?family=Pacifico');
.psHeader {
    padding-top: 30px;
    margin-bottom: 20px;
}
.psText {
    font-family: Pacifico, serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.psCarousel {
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}
.psImgCar {
    height: 620px;
    width: auto;
}
@media all and (max-width: 413px) and (min-width: 270px) {
    .psHeader {
        padding-top: 20px;
        margin-bottom: 40px;
    }
    .psText {
        font-size: 30px;
        position: absolute;
        width: 100%;
    }
    .psCarousel {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media all and (max-width: 519px) and (min-width: 414px) {
    .psHeader {
        padding-top: 30px;
        margin-bottom: 50px;
    }
    .psText {
        font-size: 40px;
        position: absolute;
        width: 100%;
    }
    .psCarousel {
        margin-left: 6%;
        margin-right: 6%;
    }
}
@media all and (max-width: 699px) and (min-width: 520px) {
    .psHeader {
        padding-top: 35px;
        margin-bottom: 50px;
    }
    .psText {
        font-size: 40px;
        position: absolute;
        width: 100%;
    }
    .psCarousel {
        margin-left: 7%;
        margin-right: 7%;
    }
}
@media all and (max-width: 1000px) and (min-width: 700px) {
    .psHeader {
        padding-top: 40px;
        margin-bottom: 60px;
    }
    .psText {
        font-size: 45px;
        position: absolute;
        width: 100%;
    }
    .psCarousel {
        margin-left: 8%;
        margin-right: 8%;
    }
}
@media all and (max-width: 1114px) and (min-width: 1001px) {
    .psHeader {
        padding-top: 40px;
        margin-bottom: 60px;
    }
    .psText {
        font-size: 45px;
        position: absolute;
        width: 100%;
    }
    .psCarousel {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media all and (min-width: 1115px) {
    .psHeader {
        padding-top: 50px;
        margin-bottom: 70px;
    }
    .psText {
        font-size: 50px;
        position: absolute;
        width: 100%;
    }
    .psCarousel {
        margin-left: 10%;
        margin-right: 10%;
    }
}