@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Pacifico');

.bckgrndImg {
    height: 590px;
    background-image: url("../../assets/frontmamaLow.jpg");
    background-size: 100%;
    background-size: cover;
    background-position-x: center;
}
.pName {
    margin-top: 350px;
    text-align: center;
    font-family: Pacifico, serif;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 3px black;
}
.eventName {
    margin-top: 40px;
    text-align: center;
    font-family: Josefin Slab, serif;
    font-size: 40px;
    color: white;
    animation: glow 3s ease-in-out infinite alternate;
}  
@keyframes glow {
    from {
      text-shadow: 5px 5px 20px #fff, 5px 5px 30px #fff,
      5px 5px 30px #a600f3, 5px 5px 40px #a60013, 5px 5px 50px #a600f3, 5px 5px 60px #a60013, 5px 5px 70px #a600f3;
    }
    
    to {
      text-shadow: 1px 1px 20px #fff, 1px 1px 30px #ffd,
      1px 1px 40px #ff4deb, 1px 1px 50px #1f4deb, 1px 1px 60px #ff4deb, 1px 1px 70px #1f4deb, 1px 1px 80px #ff4deb;
    }
}
.counter {
    text-align: center;
    font-family: Pacifico, serif;
    font-size: 27px;
    color: white;
    text-shadow: 2px 2px 3px black;
}
.colon {
    text-align: center;
    font-family: Fredericka the Great, serif;
    font-size: 7px;
    color: white;
    text-shadow: 2px 2px 3px black;
}
.counterTitle {
    margin-top: 5px;
    text-align: center;
    font-family: Pacifico, serif;
    font-size: 12px;
    color: white;
    text-shadow: 2px 2px 3px black;
}
.timeCounter {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    table-layout: fixed;
    width: 270px;
}
.timeOverMsg {
    margin-top: 20px;
    text-align: center;
    font-family: Josefin Slab, serif;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 3px black;
}
@media all and (max-width: 519px) and (min-width: 414px) {
    .bckgrndImg {
        height: 680px;
    }
    .pName {
        margin-top: 390px;
        font-size: 55px;
    }
    .eventName {
        margin-top: 50px;
        font-size: 55px;
    }
    .counter {
        font-size: 36px;
    }
    .colon {
        font-size: 9px;
    }
    .counterTitle {
        margin-top: 16px;
        font-size: 16px;
    }
    .timeCounter {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 20px;
        table-layout: fixed;
        width: 400px;
    }
    .timeOverMsg {
        margin-top: 22px;
        font-size: 22px;
        line-height: 22px;
    }
}
@media all and (max-width: 699px) and (min-width: 520px) {
    .bckgrndImg {
        height: 725px;
    }
    .pName {
        margin-top: 390px;
        font-size: 65px;
    }
    .eventName {
        margin-top: 60px;
        font-size: 65px;
    }
    .counter {
        font-size: 45px;
    }
    .colon {
        font-size: 11px;
    }
    .counterTitle {
        margin-top: 20px;
        font-size: 19px;
    }
    .timeCounter {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 25px;
        table-layout: fixed;
        width: 410px;
    }
    .timeOverMsg {
        margin-top: 32px;
        font-size: 32px;
        line-height: 30px;
    }
}
@media all and (max-width: 1000px) and (min-width: 700px) {
    .bckgrndImg {
        height: 850px;
    }
    .pName {
        margin-top: 480px;
        font-size: 80px;
    }
    .eventName {
        margin-top: 80px;
        font-size: 80px;
    }
    .counter {
        font-size: 60px;
    }
    .colon {
        font-size: 17px;
    }
    .counterTitle {
        margin-top: 35px;
        font-size: 23px;
    }
    .timeCounter {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 50px;
        table-layout: fixed;
        width: 600px;
    }
    .timeOverMsg {
        margin-top: 36px;
        font-size: 36px;
        line-height: 35px;
    }
}
@media all and (min-width: 1001px) {
    .bckgrndImg {
        height: 950px;
        background-size: 1300px;
        background-position: center 1750px;
    }
    .pName {
        margin-top: 490px;
        font-size: 100px;
    }
    .eventName {
        margin-top: 120px;
        font-size: 100px;
    }
    .counter {
        font-size: 80px;
    }
    .colon {
        font-size: 20px;
    }
    .counterTitle {
        margin-top: 38px;
        font-size: 30px;
    }
    .timeCounter {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 50px;
        table-layout: fixed;
        width: 800px;
    }
    .timeOverMsg {
        margin-top: 45px;
        font-size: 45px;
        line-height: 45px;
    }
}