<div class="fiHeader">
    <div class="fiImgLeft"></div>
    <div class="fiText"><p class="fiTitle"></p>{{ myFamilyTitle }}</div>
    <div class="fiImgRight"></div>
</div>
<div class="fiPhotos">
    <div class="familyPhoto">
        <div class="rel1Photo"></div>
        <div class="rel1Name"><p class="name">{{ relative1FirstName }}</div>
        <div class="rel1Field"><p class="field">{{ relative1Field }}</p></div>
    </div>
    <div class="familyPhoto">
        <div class="rel2Photo"></div>
        <div class="rel2Name"><p class="name">{{ relative2FirstName }}</p></div>
        <div class="rel2Field"><p class="field">{{ relative2Field }}</p></div>
    </div>
    <div class="familyPhoto">
        <div class="petsPhoto"></div>
        <div class="petsName"><p class="name">{{ petsName }}</p></div>
        <div class="petsField"><p class="field">{{ petsField }}</p></div>
    </div>
</div>