@import url('https://fonts.googleapis.com/css?family=Pacifico|Josefin+Slab');
.fiHeader {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.fiText {
    font-family: Pacifico, serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.name {
    font-family: Pacifico, serif;
    font-size: 19px;
    padding-top: 10px;
    margin-top: 14px;
    margin-bottom: 19px;
}
.field {
    font-family: Josefin Slab, serif;
    font-size: 14px;
}
.fiPhotos {
    text-align: center;
}
.familyPhoto {
    padding-bottom: 25px;
}
.rel1Photo {
    content: url('../../assets/family-info/husbandFace.jpg');
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 2px 4px 7px #ddd;
}
.rel2Photo {
    content: url('../../assets/family-info/sonFace.jpg');
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 2px 4px 7px #ddd;
}
.petsPhoto {
    content: url('../../assets/family-info/petFaces.jpg');
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 2px 4px 7px #ddd;
}
@media all and (max-width: 413px) and (min-width: 270px) {
    .fiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 85px;
    }
    .fiText {
        position: absolute;
        width: 100%;
    }
    .fiTitle {
        padding: 30px 0px 0px 0px;
    }
}
@media all and (max-width: 519px) and (min-width: 414px) {
    .fiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 140px;
    }
    .fiText {
        font-size: 40px;
        position: absolute;
        width: 100%;
    }
    .fiTitle {
        padding: 60px 0px 0px 0px;
    }
    .name {
        font-size: 19px;
        margin-top: 16px;
        margin-bottom: 21px;
    }
    .field {
        font-size: 15px;
    }
    .familyPhoto {
        padding-bottom: 30px;
    }
    .rel1Photo {
        width: 225px;
        height: 225px;
    }
    .rel2Photo {
        width: 225px;
        height: 225px;
    }
    .petsPhoto {
        width: 225px;
        height: 225px;
    }
}
@media all and (max-width: 699px) and (min-width: 520px) {
    .fiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 140px;
    }
    .fiText {
        font-size: 40px;
        position: absolute;
        width: 100%;
    }
    .fiTitle {
        padding: 60px 0px 0px 0px;
    }
    .name {
        font-size: 20px;
        margin-top: 18px;
        margin-bottom: 23px;
    }
    .field {
        font-size: 16px;
    }
    .familyPhoto {
        padding-bottom: 40px;
    }
    .rel1Photo {
        width: 250px;
        height: 250px;
    }
    .rel2Photo {
        width: 250px;
        height: 250px;
    }
    .petsPhoto {
        width: 250px;
        height: 250px;
    }
}
@media all and (max-width: 1114px) and (min-width: 700px) {
    .fiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 140px;
    }
    .fiText {
        font-size: 45px;
        position: absolute;
        width: 100%;
    }
    .fiTitle {
        padding: 60px 0px 0px 0px;
    }
    .name {
        font-size: 21px;
        margin-top: 19px;
        margin-bottom: 24px;
    }
    .field {
        font-size: 17px;
    }
    .familyPhoto {
        margin-left: 2em;
        margin-right: 2em;
        box-sizing: border-box;
        display: inline-block;
        padding: 20px 0px 60px 0px;
    }
    .rel1Photo {
        width: 250px;
        height: 250px;
    }
    .rel2Photo {
        width: 250px;
        height: 250px;
    }
    .petsPhoto {
        width: 250px;
        height: 250px;
    }
}
@media all and (max-width: 1224px) and (min-width: 1115px) {
    .fiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 140px;
    }
    .fiText {
        font-size: 50px;
        position: absolute;
        width: 100%;
    }
    .fiTitle {
        padding: 60px 0px 0px 0px;
    }
    .name {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .field {
        font-size: 18px;
    }
    .familyPhoto {
        margin-left: 3.5em;
        margin-right: 3.5em;
        box-sizing: border-box;
        display: inline-block;
        padding: 50px 0px 130px 0px;
    }
    .rel1Photo {
        width: 250px;
        height: 250px;
    }
    .rel2Photo {
        width: 250px;
        height: 250px;
    }
    .petsPhoto {
        width: 250px;
        height: 250px;
    }
}
@media all and (min-width: 1225px) {
    .fiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 140px;
    }
    .fiText {
        font-size: 50px;
        position: absolute;
        width: 100%;
    }
    .fiTitle {
        padding: 60px 0px 0px 0px;
    }
    .name {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .field {
        font-size: 18px;
    }
    .familyPhoto {
        margin-left: 5em;
        margin-right: 5em;
        box-sizing: border-box;
        display: inline-block;
        padding: 50px 0px 130px 0px;
    }
    .rel1Photo {
        width: 250px;
        height: 250px;
    }
    .rel2Photo {
        width: 250px;
        height: 250px;
    }
    .petsPhoto {
        width: 250px;
        height: 250px;
    }
}