@import url('https://fonts.googleapis.com/css?family=Vidaloka|Capriola');
button {
    background-color: rgb(70, 4, 64);
    border: none;
    outline: none;
    border-radius: 3px;
}
.welcomeMsg {
    font-family: Vidaloka, serif;
    font-size: 13px;
    height: 26px;
    padding: 0px 0px 2px 0px;
}
.enterButton {
    font-family: Capriola, serif;
    font-size: 7px;
    color: white;
    height: 7px;
    padding: 3px 5px 3.5px 5px;
}
@media all and (max-width: 519px) and (min-width: 414px) {
    button {
        border-radius: 4px;
    }
    .welcomeMsg {
        font-size: 15px;
        height: 15px;
        padding: 0px 0px 5px 0px;
    }
    .enterButton {
        font-size: 9px;
        height: 9px;
        padding: 4px 10px 5px 10px;
    }
}
@media all and (max-width: 699px) and (min-width: 520px) {
    button {
        border-radius: 5px;
    }
    .welcomeMsg {
        font-size: 18px;
        height: 18px;
        padding: 0px 0px 10px 0px;
    }
    .enterButton {
        font-size: 10px;
        height: 10px;
        padding: 5px 12px 6px 12px;
    }
}
@media all and (max-width: 1000px) and (min-width: 700px) {
    button {
        border-radius: 6px;
    }
    .welcomeMsg {
        font-size: 20px;
        height: 20px;
        padding: 0px 0px 10px 0px;
    }
    .enterButton {
        font-size: 11px;
        height: 11px;
        padding: 5px 15px 7px 15px;
    }
}
@media all and (min-width: 1001px) {
    button {
        border-radius: 8px;
        background-color: rgb(70, 4, 64);
    }
    .welcomeMsg {
        font-size: 22px;
        height: 22px;
        padding: 0px 0px 10px 0px;
    }
    .enterButton {
        font-size: 12px;
        height: 12px;
        padding: 9px 25px 10px 25px;
    }
}