@import url('https://fonts.googleapis.com/css?family=Vidaloka|Pacifico');
.ei-bckgroundImg {
    height: 590px;
    background-image: url("../../assets/ending-info/byeLow.jpg");
    background-size: 100%;
    background-size: cover;
    background-position-x: center;
}
.ei-text {
    text-align: center;
    color: white;
    padding-top: 420px;
}
.ei-hostName {
    font-family: Pacifico, serif;
    font-size: 44px;
    letter-spacing: 4px;
    text-shadow: 2px 2px #414141;
}
.ei-message {
    font-family: Vidaloka, serif;
    font-size: 19px;
    line-height: 25px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 10px;
}
@keyframes morph {
    0% { background-color: red; }
    10% { background-color: rgb(162, 0, 255); }
    20% { background-color: darkviolet ; }
    30% { background-color: rgb(121, 0, 66); }
    40% { background-color: rgb(255, 196, 252); }
    50% { background-color: fuchsia; }
    60% { background-color: rgb(54, 2, 31); }
    70% { background-color: rgb(222, 173, 255); }
    80% {background-color: brown;}
    90% { background-color: rgb(97, 1, 25); }
    100% { background-color: red; }
}
.ei-graySection {
    height: 15px;
    animation: morph 40s infinite;
}
@media all and (max-width: 519px) and (min-width: 414px) {
    .ei-bckgroundImg {
        height: 680px;
    }
    .ei-text {
        padding-top: 500px;
    }
    .ei-hostName {
        font-size: 45px;
        letter-spacing: 5px;
    }
    .ei-message {
        font-size: 20px;
        line-height: 27px;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 15px;
    }
}
@media all and (max-width: 699px) and (min-width: 520px) {
    .ei-bckgroundImg {
        height: 725px;
    }
    .ei-text {
        padding-top: 550px;
    }
    .ei-hostName {
        font-size: 50px;
        letter-spacing: 6px;
    }
    .ei-message {
        font-size: 23px;
        line-height: 32px;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 20px;
    }
}
@media all and (max-width: 1000px) and (min-width: 700px) {
    .ei-bckgroundImg {
        height: 850px;
    }
    .ei-text {
        padding-top: 600px;
    }
    .ei-hostName {
        font-size: 70px;
        letter-spacing: 7px;
    }
    .ei-message {
        font-size: 25px;
        line-height: 35px;
        padding-left: 15%;
        padding-right: 15%;
        margin-bottom: 40px;
    }
}
@media all and (max-width: 1652px) and (min-width: 1001px) {
    .ei-bckgroundImg {
        height: 920px;
        background-size: 1270px;
        background-position: center 1750px;
    }
    .ei-text {
        padding-top: 650px;
    }
    .ei-hostName {
        font-size: 80px;
        letter-spacing: 8px;
    }
    .ei-message {
        font-size: 30px;
        line-height: 40px;
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 35px;
    }
}
@media all and (min-width: 1653px) {
    .ei-bckgroundImg {
        height: 950px;
        background-size: 1300px;
        background-position: center 1800px;
    }
    .ei-text {
        padding-top: 710px;
    }
    .ei-hostName {
        font-size: 80px;
        letter-spacing: 8px;
    }
    .ei-message {
        font-size: 30px;
        line-height: 40px;
        padding-left: 25%;
        padding-right: 25%;
        margin-bottom: 35px;
    }
}